span {
    color: #1EAFDE;
}
    
a.home-link {
    background-color: #1EAFDE;
    color:red;
    margin: 3%;
    padding: 3%;
}

#home-icon {
    max-height:5px;
    max-width: 5px;
    
}

span {
    color: #1EAFDE;
}
   


a.home-link {
    background-color: #1EAFDE;
    color:red;
    margin: 3%;
    padding: 3%;
}

#home-icon {
    max-height:5px;
    max-width: 5px;
    
}

.metro-style-box-text {
  display: block;
  border: 0 solid #186AA2;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}

.retina-ready-box-text {
  display: block;
  border: 0 solid #DF6160;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}

.responsive-design-box-text {
  display: block;
  border: 0 solid #FCBB00;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}

