span {
    color: #1EAFDE;
}
    
a.home-link {
    background-color: #1EAFDE;
    color:red;
    margin: 3%;
    padding: 3%;
}

#home-icon {
    max-height:5px;
    max-width: 5px;
    
}

span {
    color: #1EAFDE;
}
   


a.home-link {
    background-color: #1EAFDE;
    color:red;
    margin: 3%;
    padding: 3%;
}

#home-icon {
    max-height:5px;
    max-width: 5px;
    
}

.metro-style-box-text {
  display: block;
  border: 0 solid #186AA2;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}

.retina-ready-box-text {
  display: block;
  border: 0 solid #DF6160;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}

.responsive-design-box-text {
  display: block;
  border: 0 solid #FCBB00;
  border-left-width: .5rem;
  background-color: #EFF5FC;
  padding: .6rem 2.6rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: /* Your font family */;
  margin:  .2rem;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "minion"
    "middleTitle"
    "things"
    "wordBlock"
    "lately"
    "latestProject"
    "thingsAbove"
    "logosBar"
    "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
}

.minion-banner {
  grid-area: minion;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.middle-title {
  grid-area: middleTitle;
}

.things-that-we-do,
.word-block,
.Whats-up-lately,
.our-latest-project,
.Thingsofabove,
.logos-bar {
  grid-gap: 20px;
  padding: 20px;
}

.things-that-we-do,
.our-latest-project,
.Whats-up-lately,
.Thingsofabove {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-latest-project {
  grid-area: latestProject;
}

.Thingsofabove {
  grid-area: thingsAbove;
}

.logos-bar {
  grid-area: logosBar;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-block-1,
.footer-block-2,
.footer-block-3,
.footer-block-4 {
  display: flex;
  flex-direction: column;
}


